path/to/largefile filter=lfs diff=lfs merge=lfs -text
C:/Users/HP/Pictures/Saved[[:space:]]Pictures/PROJET_DJANGO filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
media/videos/* filter=lfs diff=lfs merge=lfs -text
media/documents/* filter=lfs diff=lfs merge=lfs -text
